@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Montserrat', sans-serif;
  background:url('https://i.ibb.co/JB1y0X5/4690.jpg') ,
  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}